body {
    background-color: rgba(230,230,233,1.0);
    /*font-family: 'Expletus Sans', cursive;*/
    font-family: 'Open Sans', sans-serif;

}

/*Custom Navbar Styles*/

.navbar {
    padding: 0rem;
}

.navbar-brand {
    font-size: 1.9rem; 
    text-shadow: 3px -1px 2px rgba(145,145,145,1.0),
                 5px -2px 5px rgba(90,90,100);
}

.nav-item {
    padding-top: 10px; 
    height: 82px; 
    text-align: center; 
}

.nav-link {
    font-size: 1.2rem; 
}

.active {
    background-color: rgba(230,230,233,1.0);
}

.active .nav-link {
    color: rgba(52,58,64,1.0) !important;
}

/*Main Content Styles*/

#main {
    width: 90%; 
    
    padding: 30px 50px; 
    background-color: #fff; 
    margin-top: 5%; 
    margin-bottom: 10%;
}

#main h1 {
    text-align: center; 
    padding-bottom: 10px; 
}

#main-content {
    margin-top: 35px; 
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#biopic {
    height: relative; 
    width: 100%; 
}

.biobody {
    text-indent: 40px; 
}

/*Portfolio Card Styles*/

.card-title, .card-text {
    text-align: center; 
}

.portfolio-item {
    margin-bottom: 20px; 
}

/*Contact Styles*/

#submit-button {
    padding: 15px; 
    margin-top: 30px; 
    width: 100%; 
}

#submit-button:hover {
    background-color: #fff; 
    color: rgba(52,58,64,1.0); 
}

/*Footer Styles*/

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 60px; 
    line-height: 60px; 
}

a i {
    font-size: 1.5rem; 
    margin-right: 10px; 
    color: rgba(180,180,210,1.0);
}
