body {
    background-color: rgba(240,254,255,1.0); 
    font-family: 'Baloo Da 2', cursive;
    color: rgba(30,34,50,1.0); 
}

.bg-dark {
    background-color: rgba(30,34,50,1.0) !important; 
}

h1 {
    font-size: 3.2rem; 
}

h2 {
    text-align: center; 
}

a:hover {
    text-decoration: none;
}

/*Custom Navbar Styles*/

.navbar {
    padding: 0rem;
}

.navbar-brand {
    font-size: 2.9rem; 
    text-shadow: 2px -1px 2px rgba(145,175,195,1.0),
                 3px -2px 3px rgba(120,145,160,1.0);
}

.navbar-brand:hover {
    color: rgba(145, 230, 250,1.0) !important;
}

.nav-item {
    padding-top: 10px; 
    height: 82px; 
    text-align: center; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.nav-link {
    font-size: 1.2rem; 
    color: rgba(145,175,195,1.0) !important; 
}

.nav-link:hover {
    color: #fff !important; 
}

.active {
    background-color: rgba(240,254,255,1.0); 
}

.active .nav-link {
    color: rgba(52,58,64,1.0) !important;
}

/*Container Modifications*/

.container {
    border-radius: 10px; 
}

/*Main Content Styles*/

#main {
    width: 90%; 
    padding: 30px 50px; 
    background-color: #fff; 
    margin-top: 5%; 
    margin-bottom: 10%;
    border: 1px solid rgba(160,190,200,0.8);
}

#main h1 {
    text-align: center; 
    padding-bottom: 10px; 
}

#main-content {
    margin-top: 35px; 
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr-light {
    display: inline-block; 
    width: 15%; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-left: 30px; 
    margin-right: 30px; 
}

#biopic {
    height: relative; 
    width: 100%; 
    border-radius: 10px; 
}

.biobody {
    text-indent: 40px; 
}

/*Portfolio Card Styles*/

.card {
    border-radius: 10px; 
}

.card-title, .card-text {
    text-align: center; 
}

.card-title a {
    color: rgba(45,177,220,1.0); 
}

.card-title a:hover {
    color: rgba(75, 207, 250,1.0);
}

.portfolio-item {
    margin-bottom: 20px; 
}

.card-img-top {
    width: 100%;
    height: 100%; 
    border-radius: 9px; 
}

.btn-info {
    background-color: rgba(30,34,50,1.0); 
    border-color: rgba(30,34,50,1.0); 
}

.btn-info:hover, .btn-info:active {
    background-color: #fff; 
    border-color: rgba(30,34,50,1.0); 
    color: rgba(30,34,50,1.0); 
}

/*Contact Styles*/

.page-button {
    padding: 15px; 
    margin-top: 30px; 
    width: 100%; 
    background-color: rgba(75, 207, 250,1.0); 
    color: rgba(30,34,50,1.0); 
}

.page-button:hover, .page-button:active {
    background-color: rgba(30,34,50,1.0) !important;  
    color: #fff;  
}

.page-button:focus {
    background-color: rgba(30,34,50,1.0) !important; 
}

/*Footer Styles*/

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 60px; 
    line-height: 60px; 
}

a i {
    font-size: 1.5rem; 
    margin-right: 10px; 
    color: rgba(223,247,255,1.0); 
}



a i:hover, a i:hover {
    color: #fff; 
}

/*Adjust and center navbar items on mobile*/

@media screen and (max-width: 767px) {

    .dropdown-text {
        position: relative; 
        bottom: 10px; 
    }

    .current-tab {
        top: 10px; 
    }

    .nav-item {
        border-radius: 0px; 
    }

}


@media screen and (max-width: 470px) {

    .navbar-brand {
        margin-left: auto !important; 
        margin-right: auto !important; 
        padding-left: auto !important; 
        padding-right: auto !important; 
    }

    .navbar-toggler {
        width: 97%; 
        margin-left: auto !important; 
        margin-right: auto !important; 
        margin-bottom: 5px; 
    }

}

/*Keep navbar-brand (title) from overflowing smaller mobile screens*/
@media screen and (max-width: 400px) {

    .navbar-brand {
        font-size: 1.9rem;  
    }

    h1 {
        font-size: 1.5rem; 
    }

    .page-button {
        font-size: 1rem; 
    }

}

/*Ignore .hr-light on Galaxy Fold*/
@media screen and (max-width: 340px) {

    .hr-light {
        display: none; 
    }

    #email-output {
        font-size: 0.9rem;
    }

}

/*Get rid of name on extremely small*/
@media screen and (max-width: 270px) {

    .navbar-brand {
        display: none; 
    }

}